html,
body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto Oxygen-Sans,Ubuntu,Cantarell,“Fira Sans”,“Droid Sans”,Helvetica Neue,Helvetica,Hiragino Kaku Gothic Pro,Meiryo,Arial,sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  background: #f5f8fb;
  overflow: hidden;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  height: 100vh;
}

#root {
}

.App {

}

.logo {
  position: relative;
  z-index: 12;
  display: block;
  margin: 0 auto 40px;
  max-width: 240px;
}

.recommendation {
  text-align: left;
  width: 100%;
}

.recommendation .img {
  display: block;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.recommendation .img-wrapper {
  display: block;
  position: relative;
  margin: -16px -16px 0 -16px;
  height: 160px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.recommendation h2 {
  font-size: 18px;
  margin: 12px 0 2px;
}

.recommendation .author {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 14px;
  color: #9e9e9e;
}

.recommendation .description {
  margin: 0;
  font-size: 16px;
}

.rsc-cs {
  margin: 0 12px 10px 12px!important;
  overflow: hidden;
  border: 1px solid #dcdfe1;
  box-shadow: none!important;
}

.rsc-os-options {
  display: block!important;
  padding: 0 32px!important;
  width: 360px!important;
}

.rsc-os-option {
  display: block!important;
  width: 100%!important;
  margin: 0 2px!important;
}

.rsc-os-option:first-child .rsc-os-option-element {
  border-top-left-radius: 18px!important;
  border-top-right-radius: 18px!important;
}

.rsc-os-option:last-child .rsc-os-option-element {
  border-bottom-left-radius: 18px!important;
  border-bottom-right-radius: 18px!important;
}

.rsc-ts-bubble {
  border-radius: 18px!important;
}

.rsc-ts-bubble:first {
  border-radius: 18px!important;
}

.rsc-os-option-element {
  width: 268px;
  color: #000!important;
  border-radius: 0!important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
  background: #fff!important;
}

.rsc-os-option:not(:last-child) .rsc-os-option-element {
  border-bottom: 1px solid #ddd!important;
}

.rsc-content {
  margin: 0!important;
  width: 100%;
  height: 100vh!important;
  padding: 5vh 0 20vh!important;
  box-sizing: border-box!important;
  overflow-y: overlay!important;
}

.rsc-ts,
.rsc-os,
.rsc-cs {
  max-width: 360px!important;
  margin: 0 auto!important;
}

.rsc-ts-image-container {
  align-self: flex-start;
}